@mixin title{
    font-family: 'Philosopher', sans-serif;
    font-weight: 700;
    font-size: 5rem;
    line-height: 6.5rem;
    color: #222222;
    
}

@mixin descr{
    
    font-weight: 400;
    font-size: 1.3rem;
    line-height: 2.5rem;
    color: #555555;
    margin-top: 20px;
    
}
@mixin right_col{
    width: calc(50% - 100px);
    margin-left: 25px;       
}
@mixin left_col{
    width: calc(50% - 100px);
    margin-right: 25px;       
}
