.header{
    // position: fixed;
    width: calc(100% - 200px);
    // width: 100%;
    display: flex;
    align-items: center;
    height: $headerHeight;
    padding: 0px 100px;
    color: #222222;
    background-color: #fff;
    nav{
        margin-left: 0;
    }
    &_hamburger{
        display: none;
        width: 32px;
        span{
            display: block;
            border: 2px solid $mainColor;
            width: 100%;
            margin-top: 5px;
        }
        &_active{
            span{
                &:nth-child(2){
                    transform: rotateY(45deg);
                }
                &:nth-child(3){
                    transform: rotateY(90deg);
                }
            }
        }
    }
    &__menu {
        // flex-basis:45%;
        margin-left: 0;
        list-style-type:none;
        display: flex;
        justify-content: space-between;
        &_link{
            text-decoration:none;
            font-weight: 400;
            font-size: 1.3rem;
            margin-right: 40px;
            &:active{
                color: #222222;
            }
            &:focus{
                color: #222222;
            }       
        }
    }
    &__logo{
        width: 56px;
        height: 56px;
    }
    &__panel{
        // flex-basis:45%;
        margin-right: 0px;
        display: flex;
        justify-content: flex-end;
        
    }
    &__button{
        width: 40px;
        height: 40px;
        border-radius: 50%;
        background-color: #F3FBF8;
        margin-left: 20px;
        border: none;
        cursor: pointer;
        img{
            width: 24px;
            height: 24px;
        }
        &_register{
            width: 160px;
            height: 40px;
            font-style: normal;
            font-weight: 400;
            font-size: 1.3rem;
            border-radius: 8px;
            border-style: none;
            margin-left: 32px;
            color: #fff;
            background: $mainColor;
            cursor: pointer;
            &:hover{
                background: $hoverColor;
            }
        }
    }
}

@media screen and (max-width:800px) {
    .header{
        width: calc(100% - 100px);
        padding: 0px 70px;
        &__menu{
            display: none;
            flex-direction: column;
            max-height: 400px;
            min-width: 300px;
            padding: 50px 0;
            background-color: $bgColor;
            align-items:center;
            justify-content: flex-start;
            position: fixed;
            left: 0;
            top: $headerHeight;
            li{
                position: relative;
                border-bottom: 2px solid white;
                width: 80%;
                text-align: center;
                a{
                    color: white;
                }
                &:hover, :focus{
                    color: white;
                    ::before{
                        content: "";
                        position: absolute;
                        width: 16px;
                        height: 16px;
                        border-top-left-radius: 70%;
                        border-bottom-right-radius: 70%;
                        border: 3px solid white;
                        margin: 10px;
                        display: block;
                    }
                }
                
            }
            &_link{
                font-size: 24px;
                line-height: 48px;
            }
            &_active{
                display: flex;
            }

        }
        &_hamburger{
            display: block;
        }
        &__button{
            margin-left: 30px;
            &_register{
                width: 110px;
            }
        }
        
    }
}

@media screen and (max-width:600px) /*and (min-width:319px)*/{
    .header{
        padding: 0px 40px;
        &__menu{
            // display: none;
        }
        &_hamburger{
            // display: block;
        }
        &__button{
            margin-left: 20px;
            &_register{
                width: 100px;
            }
        }
        
    }
}

@media screen and (max-width:450px) {
    .header{
        padding: 0px 30px;
        &__logo{
            display: none;
        }
    }
}

@media screen and (max-width:350px) {
    .header{
        width: calc(100% - 50px);
        padding: 0 15px;
        &__button{
            &_register{
                margin-left: 20px;
            }
        }
    }
}
