.header{
    display: flex;
    align-items: center;
    height: 150px;
    padding: 0px 100px;
    // font-family: 'Raleway', sans-serif;
    color: #222222;
    nav{
        margin-left: 0;
    }
    &_hamburger{
        display: none;
        width: 32px;
        span{
            display: block;
            border: 2px solid #09A66D;
            width: 100%;
            margin-top: 5px;
        }
    }
    &__menu {
        margin-left: 0;
        list-style-type:none;
        display: flex;
        justify-content: space-between;
        &_link{
            text-decoration:none;
            font-weight: 400;
            font-size: 1.3rem;
            margin-right: 40px;
            &:active{
                color: #222222;
            }
            &:focus{
                color: #222222;
            }       
        }
    }
    &__logo{
        width: 56px;
        height: 56px;
    }
    &__panel{
        margin-right: 0px;
        display: flex;
        
    }
    &__button{
        width: 40px;
        height: 40px;
        border-radius: 50%;
        background-color: #F3FBF8;
        margin-left: 20px;
        border: none;
        img{
            width: 24px;
            height: 24px;
        }
        &_register{
            width: 160px;
            height: 40px;
            font-style: normal;
            font-weight: 400;
            font-size: 1.3rem;
            border-radius: 8px;
            border-style: none;
            margin-left: 32px;
            color: #fff;
            background: #09A66D;
            cursor: pointer;
        }
    }
}

@media screen and (max-width:800px) /*and (min-width:399px)*/{
    .header{
        padding: 0px 70px;
        &__menu{
            display: none;
        }
        &_hamburger{
            display: block;
        }
        &__button{
            margin-left: 30px;
            &_register{
                width: 110px;
            }
        }
        
    }
}

@media screen and (max-width:600px) /*and (min-width:319px)*/{
    .header{
        padding: 0px 40px;
        &__menu{
            display: none;
        }
        &_hamburger{
            display: block;
        }
        &__button{
            margin-left: 20px;
            &_register{
                width: 100px;
            }
        }
        
    }
}

@media screen and (max-width:450px) {
    .header{
        padding: 0px 30px;
        &__logo{
            display: none;
        }
    }
}

@media screen and (max-width:350px) {
    .header{
        padding: 0 15px;
        &__button{
            &_register{
                margin-left: 20px;
            }
        }
    }
}
