@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?xqcn9f');
  src:  url('../fonts/icomoon.eot?xqcn9f#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?xqcn9f') format('truetype'),
    url('../fonts/icomoon.woff?xqcn9f') format('woff'),
    url('../fonts/icomoon.svg?xqcn9f#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

i, .icomoon-liga {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  
  /* Enable Ligatures ================ */
  letter-spacing: 0;
  -webkit-font-feature-settings: "liga";
  -moz-font-feature-settings: "liga=1";
  -moz-font-feature-settings: "liga";
  -ms-font-feature-settings: "liga" 1;
  font-feature-settings: "liga";
  -webkit-font-variant-ligatures: discretionary-ligatures;
  font-variant-ligatures: discretionary-ligatures;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-twitter:before {
  content: "\e900";
}
.icon-facebook:before {
  content: "\e901";
}
.icon-facebook-f:before {
  content: "\e901";
}
.icon-instagram1:before {
  content: "\ea92";
}
